# Environment
.env
.env.*
!.env.example

# Node
node_modules/
dist/
npm-debug.log*

# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/coverage/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# database
*.db